#title {
    font-size: 2em;
}

#table,
th,
td {
    margin-top: 20px;
}

thead {
    font-size: 1.25em;
}

tbody tr:nth-child(odd) {
    background: #eee;
}

#map {
    position: center;
    height: 700px;
    width: 100%;
}
